        .main1{
            display:flex;
            flex-wrap: wrap;
            justify-content: center;

        }
        .name{
            
            text-align: center;

               }
        .headerbuttons{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }
       
        .b1{
            border-radius: 5px;
            border: solid black;
            background-color: rgb(255, 214, 127);
            padding: 10px;
            width: 100px;

        }

        .cl2{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap:10px;

        }
        .b2{
            border-radius: 10px;
            color:#fff;
            background-color: black;
            border: none;
        }
        .b3{
           
         
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            padding-top: 20px;
            padding-left: 50px;
            padding-right: 50px;
            padding-bottom: 20pxpx;
            gap: 100px;
          
           
        }
        .b3 .selectionimg{
            width: 150px;
            z-index:-1 ;
        }
        .b3  .text1{
            text-align: center;
        

        }
        .cl3{
            display: flex;
            flex-wrap:wrap;
            gap: 200px;
            justify-content: center;
        }
        .j1{
            border-radius: 50px;
            gap: 20px;
            transition: 0.3s;
        }
        .j1:hover{
            border-radius: 100px;
            filter:drop-shadow(0 0 20px blue)
          
           
        }
        .shoesection1{
            display: flex;
            flex-wrap: wrap-reverse;
         
            justify-content: center;
            gap:50px;
            transition: 0.3s;
        }
        .sectionname{
            text-align: left;
            text-transform:uppercase;
            
        }
        .sectionname{
            color: green;
        }
        footer{
            background-color: black;
            color: #fff;
            display: flex;
            justify-content: center;
            gap: 20px;
        }
        .insta{
            width: 50px;
            border-radius: 10px;
        }
       


    